
# Data
# Docker
# Environment
# IDE
# Logs
# Node / Frontend
# Python
# Test / Coverage
*$py.class
*.db
*.egg
*.egg-info/
*.log
*.py[cod]
*.pyc
*.swo
*.swp
*~
.DS_Store
.coverage
.eggs/
.env
.env.*.local
.env.local
.idea/
.mypy_cache/
.next/
.pytest_cache/
.venv/
.vscode/
__pycache__/
build/
data/
dist/
docker-compose.override.yml
env/
htmlcov/
logs/
node_modules/
out/
uploads/
venv/
